
    body {
      background-color: #f8f9fa;
    }

    .navbar-brand img {
      height: 30px; 
    }

    .hero-section {
      background: url('https://images.unsplash.com/photo-1513118172236-00b7cc57e1fa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fHNvY2lhbCUyMG1lZGlhfGVufDB8fDB8fHww') no-repeat center center;
      background-size: cover;
      padding: 50px 0;
    }
    .form-card {
      background: rgba(255, 255, 255, 0.95);
      padding: 2rem;
      border-radius: 0.5rem;
    }

    /* Style for the text next to the form */
    .text-column {
      color: #ffffff; 
    }

    .contact-form-section, .image-text-section, .testimonials-section {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .contact-form-section .form-container {
      background-color: #ececec;
      padding: 1rem;
      border-radius: 0.5rem;
    }


    .magic-card {
      position: absolute;
      bottom: -100px; 
      width: 100%;
      border-radius: 12px;
      background: rgba(29, 29, 29, 0.60);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(21.7px);
      
      display: block; 
      z-index: 2; 
    }


.magic-offset {
  margin-bottom: 100px; 
}


.magic-col {
  position: relative;
}


@media (max-width: 767px) {
  .magic-card {
    position: static; 
    bottom: auto;
    width: auto;
    margin-top: 1rem; 
    display: block; 
  }
}

@media (min-width: 768px) {
  .magic-card {
    display: block; 
  }

  .testimonial-featured {
    transform: scale(1.1); 
  }
}

.magic-card:hover {
  background-color: rgba(0, 0, 0, 0.798);
  backdrop-filter: blur(50px);
}


.info-section {
  background-color: #ffc0cb; 
}

.icon-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-text i {
  font-size: 24px; 
  margin-right: 10px; 
}


.content-section .text-box {
    padding: 20px;
}


.btn-warning {
  background-color: #ffcd00; 
  border: none; 
}

   
.testimonial-featured .testimonial-stars i {
  margin-right: 0.25rem; 
}


.testimonials-section .row {
  margin-left: 0;
  margin-right: 0;
}

.testimonials-section .col-md-4 {
  padding: 0 15px; 
}



